.DS_Store
ILCore/fsh-generated
ILCore/temp
ILCore/publisher.jar
publisher.jar
ILCore/input-cache
ILCore/template
ILCore/output
*.db
full-ig.zip
.index.json
ig-history
ig-registry
Webroot/core
Webroot/0.*
Webroot/ig-build-zips