.DS_Store
ILCore/fsh-generated
ILCore/temp
ILCore/jre
ILCore/node*
ILCore/differentials
ILCore/publisher.jar
ILCore/examples
publisher.jar 
ILCore/input-cache
ILCore/template
ILCore/output
*.db
full-ig.zip
.index.json
ig-history
ig-registry
Webroot/core
Webroot/0.*
Webroot/ig-build-zips
validator.cli
Files to add later on
ILCore/validator_cli.jar
